<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
</head>
<body>
<div id="main-board">
    <div id="head">
        <div class="logo">
            <img src="{{ url_for('static',filename='img/u12.png') }}">
            <div id="logo-text" class="text">LOGO</div>
        </div>
        <div id="title">
            MTKLab WL Management System
        </div>
        <div id="logout">
            <a href="#">logout</a>
        </div>
        <div class="menu">
            <a href="#">首页</a>
            <a href="#">WL</a>
            <a href="#">账单</a>
            <a href="#">设置</a>
        </div>
    </div>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</div>


</body>
</html>